body {
    font-family: Arial, sans-serif;
    text-align: center;
  }

  h1{
    color: #119001;
    font-size: 40px;
    
}
  form {
    width: 60%;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #d0f1d1;

  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="number"] {
    width: 600px;
    height: 30px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  input[type="checkbox"] {
    margin-bottom: 20px;
  }
  
  button {
    /* width: 100%; */
    height: 40px;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  #password {
    width: 600px;
    height: 40px;
    margin: 20px 0px;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 24px;
    font-weight: bold;
  }